html {
  background-color: #add8e6;
}

.text {
  text-align: center;
}

header {
  display: block;
  margin: 20px auto 30px;
  width: 70%;
}

#title {
  font-size: 40px;
  margin: 0 0 9px 0;
}

#author-tag {
  font-style: italic;
}

main {
  background-color: #d3d3d3;
  display: block;
  margin: auto;
  border: solid black;

  width: 500px;
  height: 600px;
}

#display-screen {
  margin: 15px 15px 10px;
  padding: 15px;
  font-size: 30px;
  height: 60px;
  width: 436px;
  border: solid gray 2px;
  background-color: white;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  display: grid;
}

#input-screen {
  height: 30px;
  width: 285px;
}

#output-screen {
  height: 30px;
  text-align: right;
}
