#button-grid {
  display: grid;
  grid-template: repeat(5, 77.5px) / repeat(5, 82px);
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  padding: 15px;
}

.key {
    cursor: pointer;
    border: 1px solid #c2c17c;
    overflow: visible;
    font: bold 30px helvetica;
    text-decoration: none;
    white-space: nowrap;
    color: rgb(30, 30, 30);
    background-color: #e5e493;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}
.key:hover {
  background-color: #fffda0;
  color: rgb(80, 80, 80);
}
.key:active {
  background: #d4d388;
  position: relative;
  top: 1px;
  text-shadow: none;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3) inset;
}

#ans {
  grid-column: 1 / 3;
}

#clear {
  grid-column: 3 / 5;
}

#enter {
  grid-column: 1 / 3;
  background-color: #ecc08e;
  border: 1px solid #ddb17f;
}
#enter:hover {
  background-color: #fdcc93;
}
#enter:active {
  background-color: #e0b788;
}

.top {
  background-color: #e9bed2;
  border: 1px solid #cca6b8;
}
.top:hover {
  background-color: #f7c7dd;
}
.top:active {
  background-color: #d4a9bd;
}

.operator {
  background-color: #bbb2e7;
  border: 1px solid #b7aee7;
}
.operator:hover {
  background-color: #d5cff0;
}
.operator:active {
  background-color: #c4bee9;
}
